
/* Basic styling for body and text */
html {
    height: 100%;
    width: 100%;
    margin: 0;
    
}


header {
    background-color: white;
    height: 75px;

}

header h1{
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 600;
    font-style: normal;
    color:black; 
    padding: 20px;

}


body { 
    background-color: #0f0f0f;
    padding: 0;

}

h1 {
    font-family: roc-grotesk-wide, sans-serif;
    font-weight: 600;
    font-style: normal;
    color:white; 
}

/* Collapsable Tab */
/* Borderless, full window width tab. Styled with a navy to pink gradient to provide contrast against the black/white theme of the app */
details {
  border: none;
  background-image: linear-gradient(to right, navy, red, pink);
  border-radius: 0px;
  padding: 1em 1em 1em;
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white 

}

/* start of CSS for collapsable form */
.form-row > input {
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;

}

/* Styling for the input parameters */
input[type=text], select {
  width: 70%;
  padding: 7px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number], select {
  width: 20%;
  padding: 7px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit] {
  width: 20%;
  background-color: white;
  color: black;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Hover for form submit button, using a striking and contrasting color to get user attention for it's functionality */
input[type=submit]:hover {
  background-color: rgb(198, 21, 21);
  color: white
}


summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 1em 1em 1em;
}

/* The collapsable when open */
details[open] {
  padding: 1em 1em 1em;
} 

details form {
  background-color: #0f0f0f;
  padding: 2em 2em 2em;
}

/* end of CSS for collapsable form */


/* start of CSS for favourites lists */
/* using a card container to make cards adjust dynamically to different screen sizes */
.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: inline-block;
  width: 300px; 
  margin: 10px;
  outline-style:solid;
  outline-color: white;
  background-color:#0f0f0f;
  color: white; 
  border-radius: 4px;
  padding: 2em 2em 2em;
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 600;
  font-style: extrawide;
  font-size: 10px;
  font-size: 1.5vw;
}

/* Inverting the color when hovered to create more contrast and readability for users when going through their list */

.container > h2 {
  text-align:center;
}

.container {
  text-align:left;
}

.card:hover {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  color: black
}

.yourFavourites > h1 {
text-align: center;
  }



.delete-button {
  background-color: #0f0f0f; 
  outline-style:solid;
  outline-color:white;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 600;
  font-style: extrawide;
  font-size: 10px;
  font-size: 1.5vw;
}

/* Styling delete button to have the same red contrast as the form submit */
.delete-button:hover {
  background-color: red; 
  outline-style:solid;
  outline-color:black;
  color: white;
}

